html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 1.2rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 1.4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 1.6rem;
    }
  }


  .active {
    background-color: teal; 
    color: white !important;
  }

  body {
    background-image: url(./images/email-pattern.jpeg);
  }
  
  .container {
    background-image: url(./images/email-pattern.jpeg);
    margin: auto;
  }
  
  .jumbotron {
    background-image: url(./images/email-pattern.jpeg);
  }

.imagePlaceholder1 {
  float: left;
}

.imagePlaceholder2 {
  position: relative;
  right: 50px;
  top: 50px;
  left: 300px;
  bottom: 100px;



}