

  .active {
    background-color: teal; 
    color: white !important;
  }

  body {
    background-image: url(./images/download.jpg);
    background-size: 500px;
    margin: auto;
    width: auto;
  }
  
  .container {
   
    margin: auto;
  }
  
  .jumbotron {
    
  }

.card {
 
  overflow: hidden;
  }

  footer, .container {
    clear: both;
  }

  nav {
    background-color: rgb(28, 109, 190);
    
  }

