

  .active {
    background-color: teal; 
    color: white !important;
  }

  body {
    background-image: url(./images/desert.jpg);
    margin: auto;
    width: auto;
  }
  
  .container {
   
    margin: auto;
  }
  
  .jumbotron {
    
  }

.card {
 
  overflow: hidden;
  }
  ul {
    display: inline;
  }
  footer, .container {
    clear: both;
  }

